




/* .segments.horizontal-wrap .placeholder-wrapper {
    display: flex;
    width: 150px;
    padding-top: .35714286rem
}

.ui.segments.is-summary .segments.horizontal-wrap .placeholder-wrapper {
    flex-direction: column
}

.ui.segments.is-summary .segments.horizontal-wrap .inline-placeholder-wrapper {
    flex-direction: row
}

.ui.segments.is-summary .segments.horizontal-wrap .inline-placeholder-wrapper .placeholder {
    margin-right: 1em
}
 */
