.Price {
    font-weight: 600;

    &.search__price--placeholder-wrapper {
        display: flex;
        align-items: center;
        gap: 0.4em;
        /* width: 30px;
        margin-left: 0.5em; */
    }

    &.search__price--placeholder-wrapper .placeholder {
        opacity: 0.5;
    }
}
