.Container {
    .ui.container {
        display: flex;
        height: 100%;
    }

    &.is-bar-fixed {
        position: fixed;
        /* bottom: 0; */
        left: 0;
        right: 0;
        bottom: -100%;
        animation: 0.4s ease-out forwards slide-in;
        background: #fff;
        z-index: 100;
        box-shadow: 0 -0.28rem 0.64rem -0.43rem rgba(0, 0, 0, 0.29);
        // height: 85px;
        padding: 20px 20px;

        .ui.container {
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }
    }

    &.is-column {
        height: auto;

        .ui.container {
            flex-direction: column;
            align-items: flex-start;
            max-width: 940px !important;
        }

        /* .inputs-container {
            margin-top: 40px;
            row-gap: 10px;
            column-gap: 10px;
        } */
    }

    &.is-row,
    .is-responsive {
        .ui.container {
            max-width: none !important;
            /* gap: 3em; */
        }
    }

    /* &.is-stackable {
        transition: all 0.2s ease-in-out;
    } */
}

@keyframes slide-in {
    from {
        bottom: -100%;
    }
    to {
        bottom: 0;
    }
}

/* {
    bottom: -100%;
    transition: bottom 0.2s ease-in-out;

    &.is-bar-fixed {
        position: fixed;
        bottom: 0;
    }
} */
