.ui.card.has-form > .content {
    & > .header {
        margin: 0;
    }

    & > .meta {
        margin-top: 0.6em;
    }

    & > .description {
        margin-top: 0;
    }

    & > div + .description {
        margin-top: 2em;
    }

    .meta {
        color: #767676;
    }
}

.ui.card.has-form .content .ui.Form {
    margin-top: 2em;
}
