.ui.card.has-form {
    max-width: 1200px;

    @media only screen and (max-width: 1300px) {
        max-width: 70vw;
    }

    @media only screen and (max-width: 1100px) {
        max-width: 80vw;
    }

    @media only screen and (max-width: 800px) {
        max-width: none;
    }
}

/* @media only screen and (max-width: 1200px) {
    .ui.fullscreen.modal > .content {
        padding: 35px 5% !important;
    }
} */

.ui.modal.Modal {
    background: none;

    & > .content {
        background: none;
    }

    @media only screen and (max-width: 1200px) {
        &.fullscreen > .content {
            padding: 35px 5% !important;
        }
    }
}
