.BookingSummary {
    .accordion {
        .title {
            display: flex;
            align-items: center;

            .label {
                margin-top: 2px;
            }
        }
    }

    .QuoteSummary {
        margin-top: 40px;
    }

    .ui.table,
    .ui.styled.accordion,
    .ui.styled.accordion .accordion {
        border-radius: 8px;
    }

    .ui.styled.accordion,
    .ui.styled.accordion .accordion {
        .ui.table {
            border: none;
        }
    }

    .ui.accordion .accordion .title > .icon,
    .ui.accordion .title > .icon {
        transition: transform 0.1s ease, opacity 0.1s ease;
    }

    .ui.accordion .accordion .active.title > .icon,
    .ui.accordion .active.title > .icon {
        transform: rotate(90deg);
    }

    .ui.checkbox .box:after,
    .ui.checkbox label:after {
        left: 1px;
    }

    .ui.checkbox input:checked ~ .box:before,
    .ui.checkbox input:checked ~ label:before {
        border-radius: 4px;
    }

    .ui.accordion .title .label {
        width: 100%;
    }

    .PlaceHolder {
        .placeholder {
            margin: unset;

            &.short {
                width: 4em;
            }
        }

        /* width: 100%; */
        &.is-right {
            display: flex;
            justify-content: flex-end;
        }
    }
}
