.property-page-searchbar .search-bar .inputs-container {
    align-items: center;
}

@media only screen and (min-width: 1001px) and (max-width: 1101px) {
    .property-page-searchbar .ui.segments > .ui.segments .ui.segment.is-rating {
        display: unset;
    }
}

.property-page-searchbar .search-bar.is-fixed.small .container {
    max-width: 940px !important;
}

/* .property-page-searchbar .search-bar {
    bottom: -100%;
    transition: bottom 0.2s ease-in-out;

    &.is-fixed {
        position: fixed;
        bottom: 0;
    }
} */

.property-page-searchbar .search-bar.is-fixed {
    position: fixed;
    bottom: -100%;
    animation: 0.4s ease-out forwards slide-in;
}

@keyframes slide-in {
    from {
        bottom: -100%;
    }
    to {
        bottom: 0;
    }
}
