.CountryDropdown {
    .CountryDropdown__text,
    .CountryDropdown__content {
        display: flex;
        align-items: center;
    }
}

.CountryIcon {
    display: flex;
    align-items: center;
}
